<div class="container">
  <ng-container *ngIf="loginResponse.token && loginResponse.type === 'customer'; else elseTemplate">
    <h1>Your Details</h1>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Coupons</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{customer.id}}</td>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.email}}</td>
          <td>{{customer.password}}</td>
          <td>
            <div class="d-grid gap-2 col-1 mx-auto" style="width: 130px;">
              <button type="button" class="btn btn-outline-success" (click)="goToCustomerCoupons()">
                Own Coupons
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br>

    <h1>All Coupons</h1>

    <div class="input-group input-group-sm mb-3" style="width:200px;">
      <span class="input-group-text">Price </span>
      <input class="form-control" name="max_price" id="maxPriceInput" type="number" placeholder="Choose max price"
        [(ngModel)]="maxPrice" (change)="filterPrice()" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="form-floating" style="width:200px;">
      <select class="form-select" name="category" id="categoryInput" [(ngModel)]="category" (change)="filterCategory()"
        aria-label="Floating label select example">
        <option selected disabled value="placeHolder">Choose Category</option>
        <option *ngFor="let category of categories" value="{{category.value}}">{{category.viewValue}}</option>
      </select>
      <label for="floatingSelect">Category</label>
    </div>

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Company ID</th>
          <th>Category</th>
          <th>Title</th>
          <th>Description</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>Amount</th>
          <th>Price</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of allCoupons">
          <td>{{coupon.id}}</td>
          <td>{{coupon.companyId}}</td>
          <td>{{coupon.category}}</td>
          <td>{{coupon.title}}</td>
          <td>{{coupon.description}}</td>
          <td>{{coupon.startDate | date}}</td>
          <td>{{coupon.endDate | date}}</td>
          <td>{{coupon.amount}}</td>
          <td>{{coupon.price}}</td>
          <td>{{coupon.image}}</td>
          <td>
            <div class="d-grid gap-2 col-1 mx-auto" style="width: 50px;">
              <button *ngIf="coupon.amount > 0" type="button" title="Buy Coupon" class="btn btn-outline-success"
                (click)="purchaseCoupon(coupon)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                </svg>
              </button>
            </div>
            <span *ngIf="coupon.amount === 0">Out Of Stock</span>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #elseTemplate>
    <h1>You need to login..</h1>
  </ng-template>

</div>

<!-- <div class="d-grid gap-2 col-1 mx-auto" style="width: 50px;">
  <button type="button" class="btn btn-outline-success" (click)="goToCustomerCoupons()">
    Your Coupons
  </button>
</div> -->
